<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<style>
img,a,table,tr,th,td{border:0px;}
</style>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><a href="http://www.ruyicai.com" target="_blank"><img src="http://www.ruyicai.com/images/EMD/top.gif" width="600" height="121" /></a></td>
  </tr>
  <tr>
    <td><img src="http://www.ruyicai.com/images/EMD/top2-1.gif" width="600" height="78" /></td>
  </tr>
  <tr>
    <td><img src="http://www.ruyicai.com/images/EMD/top3-1.gif" width="153" height="149" border="0" usemap="#Map" /><img src="http://www.ruyicai.com/images/EMD/top3-2-1.gif" width="447" height="149" /></td>
  </tr>
  <tr>
    <td><img src="http://www.ruyicai.com/images/EMD/middle1.gif" width="600" height="19" /></td>
  </tr>
  <tr>
    <td><img src="http://www.ruyicai.com/images/EMD/middle2-1-1.gif" width="459" height="151" /><img src="http://www.ruyicai.com/images/EMD/middle2-2.gif" width="141" height="151" border="0" usemap="#Map2" /></td>
  </tr>
  <tr>
    <td><img src="http://www.ruyicai.com/images/EMD/middle3.gif" width="600" height="23" /></td>
  </tr>
  <tr>
    <td><img src="http://www.ruyicai.com/images/EMD/middle4.gif" width="148" height="155" border="0" usemap="#Map3" /><img src="http://www.ruyicai.com/images/EMD/middle5.gif" width="452" height="155" /></td>
  </tr>
  <tr>
    <td><img src="http://www.ruyicai.com/images/EMD/b1.gif" width="600" height="111" /></td>
  </tr>
  <tr>
    <td><img src="http://www.ruyicai.com/images/EMD/b2.gif" width="600" height="91" /></td>
  </tr>
</table>

<map name="Map" id="Map">
  <area shape="circle" coords="86,73,47" href="http://www.ruyicai.com/rules/activity.html" />
</map>

<map name="Map2" id="Map2">
  <area shape="circle" coords="68,75,49" href="http://www.ruyicai.com/rules/activity.html" />
</map>

<map name="Map3" id="Map3">
  <area shape="circle" coords="79,77,50" href="http://www.ruyicai.com/rules/activity.html" />
</map>
</body>
</html>
