<!--#include virtual="/include/top_http.html"-->
<title>诚聘英才--客户服务类--如意彩</title>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">    
<meta http-equiv="keywords" content="如意彩、诚聘英才、客户服务类">
<meta http-equiv="description" content="如意彩、诚聘英才、客户服务类">

<link href="/css/util.css" rel="stylesheet" type="text/css">
<link href="/css/danyeAll.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jqueryJS/jquery-1.5.min.js"></script> 
</head>
<body>
<div id="body">
   <div id="headerdanye">
		<div class="danyehead">	
          <div class="dylogo" >
            <a href="/"><img src="/images/danyelogo.jpg" width="160" height="96" border="0" class="charupic"/></a>
          </div>
          <div class="fhsy" >
           <a href="/">返回首页>></a>
          </div> 
        </div>
			<img src="/images/danyebanner.jpg" width="950" class="charupic">
	</div>
    
   <div id="main">
   	<div id="zhanghu">
  	<div class="main_left">
  	<div class="bt"><img src="/images/danyetop.gif" width="190" height="29" border="0"></div>
				<div id="PARENT">
			<ul id="nav">
			<li><a href="javascript:;"><span class="nochoose">关于我们</span></a>
			 <ul id="ChildMenu1" class="expanded">
			 <li ><a href="/rules/trans_Company.html" title="公司简介">公司简介</a></li>
			 <li><a href="/rules/trans_Vision.html" title="公司愿景">公司愿景</a></li>
			 <li><a href="/rules/trans_OperationPrinciple.html" title="经营理念">经营理念</a></li>
			 <li><a href="/rules/trans_ITSM.html" title="总裁致辞">总裁致辞</a></li>
             <li><a href="/rules/trans_OurAdvantage.html" title="我们的优势">我们的优势</a></li>
			 </ul>
			</li>
			
			<li><a href="/rules/Partnership.html" ><span class="nochoose">商务合作</span></a>
			</li>
			
			<li><a href="/rules/Contact Us.html" ><span class="nochoose">联系我们</span></a>
			</li>	
            
			<li><a href="javascript:;"><span class="choose">诚聘英才</span></a>
			 <ul id="ChildMenu2" class="expanded">
			 <li><a href="/rules/elite_CareeronTech.html" title="技术研发类">技术研发类</a></li>
			 <li><a href="/rules/elite_Operations.html" title="产品运营类">产品运营类</a></li>
             <!-- <li><a href="#" title="市场营销类">市场营销类</a></li> -->
             <li><a href="/rules/elite_CustomerService.html" title="客户服务类"><span class="mousehover">客户服务类</span></a></li>
              <li><a href="/rules/elite_FunctionSupport.html" title="内容编辑类">内容编辑类</a></li> 
             <!--<li><a href="/rules/elite_FunctionSupport.html" title="职能支持类">职能支持类</a></li>-->
			 </ul>
			</li>
			<li><a href="/rules/LegalStatement.html" ><span class="nochoose">法律声明</span></a>
			</ul>
	  </div>
	</div>
	<div class="userright">
       <div class="zh_rightbg">
          <div class="zh_rt">客户服务类</div>
              <div class="right_01">
                <p><strong>客服</strong></p>
                <div class="dyxiaobiao">岗位职责：</div>
                    <p class="gsyjdl"> 
                       <ul class="wmdyslbwz">
                         <li>1.负责收集用户对软件产品的需求与反馈，与相关人员进行技术沟通，回答用户使用过程中的相关问题；</li>
						<li>2.电话回访客户，维护好与客户之间的良好关系，促进公司于客户的长期合作；</li>
						<li>3.热情解答客户咨询，并为客户提供优质的服务，维护公司形象；</li>
						<li>4.详细记录客户信息，并及时把相关信息反馈给主管领导或相关部门；</li>
						<li>5.讲究团队合作精神，与同事相互支持、互相帮助、共同进步，杜绝我行我素等不良行为。</li>
                       </ul>
                     </p>
                   <div class="dyxiaobiao">任职要求：</div>
                    <p class="gsyjdl"> 
                       <ul class="wmdyslbwz">
                         <li>1．口齿清晰、普通话流利、有较强的表达能力和沟通能力；</li>
                         <li>2．性格开朗、喜欢沟通和交流；</li>
                         <li>3．应变能力强，敢于挑战困难和挫折；</li>
                         <li>4．对互联网较为了解，熟悉办公软件操作，熟练使用EXCEL表格；</li>
                         <li>5．有电话营销、网络产品销售、广告业务等相关工作经验者优先；</li>
                         <li>6．有团队合作精神，有强烈的责任心、敬业精神，能吃苦耐劳，积极完成工作。</li>
                         <li>薪酬福利待遇面议，有意者请将简历投至：<font class="blue"><a href="mailto:liruobing@ruyicai.com">liruobing@ruyicai.com</a></font></li>
                       </ul>
                     </p>
               </div>
        </div>
	</div>
  </div>
</div>
   <!--#include virtual="/include/footer_litter.html" -->
</div>
<!--#include virtual="/rules/setBody.html"-->