<!--#include virtual="/include/top_http.html"-->
<title>诚聘英才--产品运营类--如意彩</title>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">    
<meta http-equiv="keywords" content="如意彩、诚聘英才、产品运营类">
<meta http-equiv="description" content="如意彩、诚聘英才、产品运营类">

<link href="/css/util.css" rel="stylesheet" type="text/css">
<link href="/css/danyeAll.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jqueryJS/jquery-1.5.min.js"></script> 
</head>
<body>
<div id="body">
   <div id="headerdanye">
		<div class="danyehead">	
          <div class="dylogo" >
            <a href="/"><img src="/images/danyelogo.jpg" width="160" height="96" border="0" class="charupic"/></a>
          </div>
          <div class="fhsy" >
           <a href="/">返回首页>></a>
          </div> 
        </div>
			<img src="/images/danyebanner.jpg" width="950" class="charupic">
	</div>
    
   <div id="main">
   	<div id="zhanghu">
  	<div class="main_left">
  	<div class="bt"><img src="/images/danyetop.gif" width="190" height="29" border="0"></div>
				<div id="PARENT">
			<ul id="nav">
			<li><a href="javascript:;"><span class="nochoose">关于我们</span></a>
			 <ul id="ChildMenu1" class="expanded">
			 <li ><a href="/rules/trans_Company.html" title="公司简介">公司简介</a></li>
			 <li><a href="/rules/trans_Vision.html" title="公司愿景">公司愿景</a></li>
			 <li><a href="/rules/trans_OperationPrinciple.html" title="经营理念">经营理念</a></li>
			 <li><a href="/rules/trans_ITSM.html" title="总裁致辞">总裁致辞</a></li>
             <li><a href="/rules/trans_OurAdvantage.html" title="我们的优势">我们的优势</a></li>
			 </ul>
			</li>
			
			<li><a href="/rules/Partnership.html" ><span class="nochoose">商务合作</span></a>
			</li>
			
			<li><a href="/rules/Contact Us.html" ><span class="nochoose">联系我们</span></a>
			</li>	
            
			<li><a href="javascript:;"><span class="choose">诚聘英才</span></a>
			 <ul id="ChildMenu2" class="expanded">
			 <li><a href="/rules/elite_CareeronTech.html" title="技术研发类">技术研发类</a></li>
			 <li><a href="/rules/elite_Operations.html" title="产品运营类"><span class="mousehover">产品运营类</span></a></li>
             <!-- <li><a href="#" title="市场营销类">市场营销类</a></li> -->
             <li><a href="/rules/elite_CustomerService.html" title="客户服务类">客户服务类</a></li>
             <li><a href="/rules/elite_FunctionSupport.html" title="内容编辑类">内容编辑类</a></li>
             <!-- <li><a href="/rules/elite_FunctionSupport.html" title="职能支持类">职能支持类</a></li> -->
			 </ul>
			</li>
			<li><a href="/rules/LegalStatement.html" ><span class="nochoose">法律声明</span></a>
			</ul>
	  </div>
	</div>
	<div class="userright">
       <div class="zh_rightbg">
          <div class="zh_rt">产品运营类</div>
              <div class="right_01">
                <p><strong>无线产品-运营经理</strong></p>
                <div class="dyxiaobiao">岗位职责：</div>
                    <p class="gsyjdl"> 
                       <ul class="wmdyslbwz">
					   <li>1.负责手机客户端产品运营、活动推广策划、用户调研等，提出合理产品优化建议；</li>
						<li>2.数据分析，能够系统地对数据进行解读，并通过数据分析提炼出相关方案；</li>
						<li>3.能独立规划产品运营计划，独立策划相关活动，并最终推进项目实施、完成；</li>
						<li>4.能根据运营状况，不断调整产品运营策略，并推动各部门执行；</li>
						<li>5.对新市场渠道进行开拓。</li>
                       </ul>
                     </p>
                   <div class="dyxiaobiao">任职要求：</div>
                    <p class="gsyjdl"> 
                       <ul class="wmdyslbwz">
                         <li>1.对移动互联网行业具有浓厚的兴趣和热情，关注国内外移动互联网的新应用新趋势；</li>
						<li>2.具备活动策划经验和良好的沟通执行能力，数据分析及文字编辑能力强；</li>
						<li>3.沟通能力强，具有创造思维，能积极的协调各部门推动项目的进展；</li>
						<li>4.有无线互联网营销资源，及从事过手游及电商类无线产品市场运营经验者优先。</li>
                         <li>薪酬福利待遇面议，有意者请将简历投至：<font class="blue"><a href="mailto:haojie@ruyicai.com">haojie@ruyicai.com</a></font></li>
                       </ul>
                     </p>
               </div>
        </div>
	</div>
  </div>
</div>
   <!--#include virtual="/include/footer_litter.html" -->
</div>
<!--#include virtual="/rules/setBody.html"-->