<!--#include virtual="/include/top_http.html"-->
<title>如意彩-投注</title>
<!--<link href="/css/css.css" rel="stylesheet" type="text/css" />
<link href="/css/fankui.css" rel="stylesheet" type="text/css" />
<link href="/css/login.css" rel="stylesheet" type="text/css" />-->
<link href="/css/util.css" rel="stylesheet" type="text/css" />
<link href="/css/touzhuAll.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jqueryJS/jquery-1.5.min.js"></script> 
<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript">
//成功页面显示相应的彩种以及图片
function ZCgetCaiZhong(divname1){

	  	var key = GetQueryString("cai");
	  	var div1 = $("#"+divname1);
		  switch(key){
		  case "T01001":
			  div1.html('<a href="/daletou.html"  title="'+decodeURI(EncodeUtf8('继续赠彩'))+'" >'+decodeURI(EncodeUtf8('继续赠彩')+'</a>'));
			  break;
		  default:
		  	  div1.html('<a href="/shuangseqiu.html" title="'+decodeURI(EncodeUtf8('继续赠彩'))+'" >'+decodeURI(EncodeUtf8('继续赠彩')+'</a>'));  
		  	  break;
		  }
		  

}
</script>
</head>
<body>

<div id="body">
<!--#include virtual="/include/top.html" -->
  <div class="chzhsuc_main">
   	  <div class="chzhsuc_top" style="margin:50px 0px 0px 230px;"><span class="chzhsuc_img"><img src="/images/duigou.gif"  /></span><span class="chzhsuc_zi">恭喜<span id="nick_name"><script>check_nickName();</script></span>，您的赠送方案已提交成功！</span></div>
   	  <style>
   	  .chzhsuc_other a{color:#0F3F94; text-decoration:underline;}
   	  </style>
   	  <div class="chzhsuc_other" style="margin-left:350px;">您还可以<span id="xiangqingDIV"><script>goXiangqing("xiangqingDIV");</script></span>，或者<span id="jxtz"><script>ZCgetCaiZhong("jxtz")</script></span>。</div>　
	  <div class="space10">&nbsp;</div>
	  <div class="chzhsuc_con" style="margin-left:270px;">
			<div class="chzhsuc_list" style="position:relative;"><span style="position:absolute; left:110px; top:10px; display:none;" class="HomePageBGBox ListAddClass"></span><span class="caizh_img"><img src="/images/ssclogo41.gif"/></span><span class="caizh_zi"><img src="/images/ssc_zxwenzi.gif"/></span><a href="/shishicai.html" title="立即购买"><span class="caizh_gm">立即购买>></span></a></div>
			<div class="chzhsuc_list"><span class="caizh_img"><img src="/images/11x5logo41.gif"/></span><span class="caizh_zi"><img src="/images/11x5_zxwenzi.gif"/></span><a href="/11xuan5.html" title="立即购买"><span class="caizh_gm">立即购买>></span></a></div>
			<div class="chzhsuc_list"><span class="caizh_img"><img src="/images/ssqlogo23.gif"/></span><span class="caizh_zi"><img src="/images/cgzi_ssq.gif"/></span><a href="/shuangseqiu.html" title="立即购买"><span class="caizh_gm">立即购买>></span></a></div>
			<div class="chzhsuc_list"><span class="caizh_img"><img src="/images/dltlogo23.gif"/></span><span class="caizh_zi"><img src="/images/cgzi_dlt.gif"/></span><a href="/daletou.html" title="立即购买"><span class="caizh_gm">立即购买>></span></a></div>
	 </div></div>
  <!--#include virtual="/include/footer_litter.html"-->
</div>
<!--#include virtual="/rules/setBody.html"-->