<!--#include virtual="/include/top_http.html"-->
<title>开奖历史</title>
<!--<link href="/css/user.css" rel="stylesheet" type="text/css" />
<link href="/css/css.css" rel="stylesheet" type="text/css" />
<link href="/css/tab.css" rel="stylesheet" type="text/css" />
<link href="/css/login.css" rel="stylesheet" type="text/css" />-->
<link href="/css/util.css" rel="stylesheet" type="text/css" />
<link href="/css/newsAll.css" rel="stylesheet" type="text/css" />
<script src="/js/qh.js" language="javascript"></script>
<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript" src="/js/tab.js"></script>
<script type="text/javascript" src="/js/jqueryJS/jquery-1.5.min.js"></script>
</head>


<body>
<div id="body" >
	<!-- 头部引用 -->
	<!--#include virtual="/include/top.html" -->
	
	  <div id="main1">
	  	<!-- 左部引用 -->
	  	<!--#include  virtual="/include/pailie3.html"-->
	  	<div class="midkj" >
	  		<!-- 中上部 -->
	  		<div class="kjgg" id="right_on">
	  			<script>reHtml(19,'lotNo=T01002&hidden=middle',false,'right_on')</script>
	  		</div>
			<div class="ma_r">
				<div class="zst_tilte"><span>排列三走势图</span></div>
				<div class="zst_list">
					<ul>
						<li><a href="javascript:;">篮球走势</a></li>
						<li><a href="javascript:;">开奖分布走势</a></li>
						<li><a href="javascript:;">红球定位分析</a></li>
						<li><a href="javascript:;">红球和值</a></li>
						<li><a href="javascript:;">红球形态</a></li>
						<li><a href="javascript:;">红球余数</a></li>
						<li><a href="javascript:;">红球位和</a></li>
						<li><a href="javascript:;">红球位差</a></li>
						<li><a href="javascript:;">定位号码比较</a></li>
					</ul>
				</div>
			
		</div>
		<!-- 中间历史信息 -->
			<div id="right_text" class="main_bottom">
			<script>reHtml(30,'lotNo=T01002&stopLine=10',false)</script>
			
			</div>
		</div>
	  	</div>

		

	
	<!-- 底部引用 -->
	<!--#include virtual="/include/footer.html" -->
</div>
<!--#include virtual="/rules/setBody.html"-->