<!--#include virtual="/include/top_http.html"-->
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">    
<meta http-equiv="keywords" content="如意彩、商务合作">
<meta http-equiv="description" content="如意彩、商务合作">
<title>商务合作--如意彩</title>
<link href="/css/util.css" rel="stylesheet" type="text/css">
<link href="/css/danyeAll.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jqueryJS/jquery-1.5.min.js"></script> 
</head>
<body>
   <div id="body">
   <div id="headerdanye">
		<div class="danyehead">	
          <div class="dylogo" >
            <a href="/"><img src="/images/danyelogo.jpg" width="160" height="96" border="0" class="charupic"/></a>
          </div>
          <div class="fhsy" >
           <a href="/">返回首页>></a>
          </div> 
        </div>
			<img src="/images/danyebanner.jpg" width="950" class="charupic">
	</div>
    
   <div id="main">
   	<div id="zhanghu">
  	<div class="main_left">
  	<div class="bt"><img src="/images/danyetop.gif" width="190" height="29" border="0"></div>
				<div id="PARENT">
			<ul id="nav">
			<li><a href="javascript:;"><span class="nochoose">关于我们</span></a>
			 <ul id="ChildMenu1" class="expanded">
			 <li ><a href="/rules/trans_Company.html" title="公司简介">公司简介</a></li>
			 <li><a href="/rules/trans_Vision.html" title="公司愿景">公司愿景</a></li>
			 <li><a href="/rules/trans_OperationPrinciple.html" title="经营理念">经营理念</a></li>
			 <li><a href="/rules/trans_ITSM.html" title="总裁致辞">总裁致辞</a></li>
             <li><a href="/rules/trans_OurAdvantage.html" title="我们的优势">我们的优势</a></li>
			 </ul>
			</li>
			
			<li><a href="/rules/Partnership.html" ><span class="choose mousehover">商务合作</span></a>
			</li>
			
			<li><a href="/rules/Contact Us.html" ><span class="nochoose">联系我们</span></a>
			</li>	
            
			<li><a href="javascript:;"><span class="nochoose">诚聘英才</span></a>
			 <ul id="ChildMenu2" class="expanded">
			 <li><a href="/rules/elite_CareeronTech.html" title="技术研发类">技术研发类</a></li>
			 <li><a href="/rules/elite_Operations.html" title="产品运营类">产品运营类</a></li>
             <!-- <li><a href="#" title="市场营销类">市场营销类</a></li> -->
             <li><a href="/rules/elite_CustomerService.html" title="客户服务类">客户服务类</a></li>
             <!-- <li><a href="#" title="内容编辑类">内容编辑类</a></li> -->
             <li><a href="/rules/elite_FunctionSupport.html" title="职能支持类">职能支持类</a></li>
			 </ul>
			</li>
			<li><a href="/rules/LegalStatement.html" ><span class="nochoose">法律声明</span></a>
			</ul>
	  </div>
	</div>
	<div class="userright">
       <div class="zh_rightbg">
          <div class="zh_rt">商务合作</div>
              <div class="right_01">
                <p class="gsjjdl">神谷数码科贸有限公司旗下的如意彩网站是国内一流的彩票代购服务平台，为广大彩民提供全国联销型彩票及地方特色彩票的代购合买、彩票资讯、彩票分析、互动社区等全方位、一体化的综合性彩票服务。</p>
                <p class="gsjjdl">如意彩欢迎各类形式的商务合作洽谈，包含并不限于广告合作、内容合作、资源互换等，实现共享和共赢！</p>
                <div class="dyxiaobiao">一、友情链接</div>
                    <p>申请链接互换QQ：1444895428<br/>
                       如意彩欢迎金融类、财经类、彩票门户类、体育类等相关资讯或商业型网站与本站进行链接互换，要求PR值大于5或百度权重大于4，网站内容健康合法，不含有有违国家法规的内容等。
                    </p>
                   <div class="dyxiaobiao">二、企业合作</div>
                   <p>
                      &nbsp;&nbsp;具有定期回馈用户并且需要赠送个性化小礼品的企业，如意彩可以根据企业具体需求开发彩票礼品，并帮助企业下发给用户，以此增强用户对企业的好感和粘性，为企业赢得更好的口碑。
                    </p>
                    <div class="dyxiaobiao">三、渠道合作</div>
                    <p>针对网站类的合作伙伴，如果您想建立一个彩票栏目，如意彩可以为您全方位、多模式定制合作页面，让您的彩票栏目与您的网站融为一体，满足合作方针对自身用户的增值开发。
                    </p>
                    <div class="dyxiaobiao">四、数据内容合作</div>
                    <p>
                      （1）针对目前已有彩票频道的体育类网站。由我方提供原创新闻稿件，丰富贵站内容，吸引用户流量，同时也增加我站知名度。<br/>
                      （2）网站提供足球、数字彩票等所有彩种的数据合作。
                    </p>
                    <div class="dyxiaobiao">五、联合推广</div>
                    <p>
                     主要针对线上合作伙伴各自的推广计划进行资源互换形式的互助推广合作。
                    </p>
                    <p>
                      商务合作联系人：罗女士<br/>
                      TEL：（010）88869779<br/>
                      QQ：928590769<br/>
                      邮箱：<a href="mailto:luoman@ruyicai.com">luoman@ruyicai.com </a><br/>
                     传真：010-88860312
                   </p>
               </div>
        </div>
	</div>
  </div>
</div>
    
   <!--#include virtual="/include/footer_litter.html"-->
</div>
<!--#include virtual="/rules/setBody.html"-->