<!-- 使页面上有值的文本框的内容选中 -->
<!--#include virtual="/include/login_div.html"-->
<!--#include virtual="/rules/tishi_gaopin.html"-->
<script>inputSelect();</script>
<!-- 百度统计代码 开始 -->
<div style="display: none">
<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8333ff4357591825f74461a26584cc2f' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<!-- 百度统计代码 结束 -->
</body>
</html>