<!--#include virtual="/include/top_http.html"-->
<title>关于我们--总裁致辞--如意彩</title>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">    
<meta http-equiv="keywords" content="如意彩、关于我们、总裁致辞">
<meta http-equiv="description" content="如意彩、关于我们、总裁致辞">

<link href="/css/util.css" rel="stylesheet" type="text/css">
<link href="/css/danyeAll.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jqueryJS/jquery-1.5.min.js"></script> 
</head>
<body>
<div id="body">
   <div id="headerdanye">
		<div class="danyehead">	
          <div class="dylogo" >
            <a href="/"><img src="/images/danyelogo.jpg" width="160" height="96" border="0" class="charupic"/></a>
          </div>
          <div class="fhsy" >
           <a href="/">返回首页>></a>
          </div> 
        </div>
			<img src="/images/danyebanner.jpg" width="950" class="charupic">
	</div>
    
   <div id="main">
   	<div id="zhanghu">
  	<div class="main_left">
  	<div class="bt"><img src="/images/danyetop.gif" width="190" height="29" border="0"></div>
				<div id="PARENT">
			<ul id="nav">
			<li><a href="javascript:;"><span class="choose">关于我们</span></a>
			 <ul id="ChildMenu1" class="expanded">
			 <li ><a href="/rules/trans_Company.html" title="公司简介">公司简介</a></li>
			 <li><a href="/rules/trans_Vision.html" title="公司愿景">公司愿景</a></li>
			 <li><a href="/rules/trans_OperationPrinciple.html" title="经营理念">经营理念</a></li>
			 <li><a href="/rules/trans_ITSM.html" title="总裁致辞"><span class="mousehover">总裁致辞</span></a></li>
             <li><a href="/rules/trans_OurAdvantage.html" title="我们的优势">我们的优势</a></li>
			 </ul>
			</li>
			
			<li><a href="/rules/Partnership.html" ><span class="nochoose">商务合作</span></a>
			</li>
			
			<li><a href="/rules/Contact Us.html" ><span class="nochoose">联系我们</span></a>
			</li>	
            
			<li><a href="javascript:;"><span class="nochoose">诚聘英才</span></a>
			 <ul id="ChildMenu2" class="expanded">
			 <li><a href="/rules/elite_CareeronTech.html" title="技术研发类">技术研发类</a></li>
			 <li><a href="/rules/elite_Operations.html" title="产品运营类">产品运营类</a></li>
             <!-- <li><a href="#" title="市场营销类">市场营销类</a></li> -->
             <li><a href="/rules/elite_CustomerService.html" title="客户服务类">客户服务类</a></li>
             <!-- <li><a href="#" title="内容编辑类">内容编辑类</a></li> -->
             <li><a href="/rules/elite_FunctionSupport.html" title="职能支持类">职能支持类</a></li>
			 </ul>
			</li>
			<li><a href="/rules/LegalStatement.html" ><span class="nochoose">法律声明</span></a>
			</ul>
	  </div>
	</div>
	<div class="userright">
       <div class="zh_rightbg">
          <div class="zh_rt">总裁致辞</div>
              <div class="right_01">
                    <p class="gsjjdl">新经济时代的中国面临着全球化的趋势，这样我们面临的将是全球化的竞争，同时随着市场经济的迅速发展，我们进入了一个以客户为导向的时代，在这个时代中，必须将客户的利益放在第一位！</p>
                    <p class="gsjjdl">在市场经济环境中，竞争能力决定了企业的现状和前途。要提高企业的竞争力，就必须推进企业的管理创新，实现科学管理。只有真正优秀的企业才能在竞争中获胜。我们要在不断把成功因素继续重复放大的同时，还需要改变一切不适应市场发展趋势的经营观念与行为习惯，进一步激发团队的激情与组织的活力，充分发挥我们的创新能力，不断超越自我，创造一种蓬勃发展的动力之源，快速提升神谷数码科贸有限公司的整体竞争能力。</p>
                    <p class="gsjjdl">神谷数码科贸有限公司一直强调为用户提供贴身式服务，为用户提供最佳体验服务。如意彩的管理团队是一个充满激情、不断创新的智慧的结晶体，我们愿与企业一道把握机遇，不断超越自我，实现共同理想！ </p>
               </div>
        </div>
	</div>
  </div>
</div>
    
   <!--#include virtual="/include/footer_litter.html"-->
</div>
<!--#include virtual="/rules/setBody.html"-->