<!--#include virtual="/include/top_http.html"-->
<title>关于我们--公司愿景--如意彩</title>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">    
<meta http-equiv="keywords" content="如意彩、关于我们、公司愿景">
<meta http-equiv="description" content="如意彩、关于我们、公司愿景">

<link href="/css/util.css" rel="stylesheet" type="text/css">
<link href="/css/danyeAll.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jqueryJS/jquery-1.5.min.js"></script> 

</head>
<body>
<div id="body">
   <div id="headerdanye">
		<div class="danyehead">	
          <div class="dylogo" >
            <a href="/"><img src="/images/danyelogo.jpg" width="160" height="96" border="0" class="charupic"/></a>
          </div>
          <div class="fhsy" >
           <a href="/">返回首页>></a>
          </div> 
        </div>
			<img src="/images/danyebanner.jpg" width="950" class="charupic">
	</div>
    
   <div id="main">
   	<div id="zhanghu">
  	<div class="main_left">
  	<div class="bt"><img src="/images/danyetop.gif" width="190" height="29" border="0"></div>
				<div id="PARENT">
			<ul id="nav">
			<li><a href="javascript:;"><span class="nochoose">关于我们</span></a>
			 <ul id="ChildMenu1" class="expanded">
			 <li ><a href="/rules/trans_Company.html" title="公司简介">公司简介</a></li>
			 <li><a href="/rules/trans_Vision.html" title="公司愿景"><span class="mousehover">公司愿景</span></a></li>
			 <li><a href="/rules/trans_OperationPrinciple.html" title="经营理念">经营理念</a></li>
			 <li><a href="/rules/trans_ITSM.html" title="总裁致辞">总裁致辞</a></li>
             <li><a href="/rules/trans_OurAdvantage.html" title="我们的优势">我们的优势</a></li>
			 </ul>
			</li>
			
			<li><a href="/rules/Partnership.html" ><span class="nochoose">商务合作</span></a>
			</li>
			
			<li><a href="/rules/Contact Us.html" ><span class="choose">联系我们</span></a>
			</li>	
            
			<li><a href="javascript:;"><span class="nochoose">诚聘英才</span></a>
			 <ul id="ChildMenu2" class="expanded">
			 <li><a href="/rules/elite_CareeronTech.html" title="技术研发类">技术研发类</a></li>
			 <li><a href="/rules/elite_Operations.html" title="产品运营类">产品运营类</a></li>
             <!-- <li><a href="#" title="市场营销类">市场营销类</a></li> -->
             <li><a href="/rules/elite_CustomerService.html" title="客户服务类">客户服务类</a></li>
             <!-- <li><a href="#" title="内容编辑类">内容编辑类</a></li> -->
             <li><a href="/rules/elite_FunctionSupport.html" title="职能支持类">职能支持类</a></li>
			 </ul>
			</li>
			<li><a href="/rules/LegalStatement.html" ><span class="nochoose">法律声明</span></a>
			</ul>
	  </div>
	</div>
	<div class="userright">
       <div class="zh_rightbg">
          <div class="zh_rt">公司愿景</div>
              <div class="right_01">
                <div class="dyxiaobiao">企业使命：</div>
                    <p>公司致力于为彩票发行机构提供行业领先的无纸化彩票解决方案，电子渠道彩票的产品策略和运营策略并提供高度流程化的运营服务，完善的风险控制管理和客户关系管理，为福利彩票、体育彩票事业的无纸化运营、业务创新贡献力量。</p>
                    <div class="dyxiaobiao">企业愿景：</div>
                    <p>以虔诚的态度，专业的能力，精湛的管理为股东创造利润，为客户创造价值，为公众提供服务。</p>
                     <div class="dyxiaobiao">企业精神：</div>
                    <p class="gsyjdl"> 
                       <ul class="ywianghu">
                         <li>诚信负责：遵守商业道德和职业操守，承担社会责任，推进负责任的彩票专业运营！</li>
                         <li>立志领先：参与行业价值链的各个环节，力求做到最好！</li>
                         <li>务实创新：积极迎接挑战，鼓励创新思想，推动企业发展！</li>
                         <li>专业精神：整合丰富资源、荟萃各方精英，积累中外经验，提升专业水平！</li>
                         <li>团队合作：尊重不同文化，包含各种观念，提倡平等沟通，发挥团队精神！</li>
                         <li>以人为本：员工是我们最珍贵的资源，吸引和留住最优秀的员工！ </li>
                       </ul>
                     </p>
               </div>
        </div>
	</div>
  </div>
</div>
    
   <!--#include virtual="/include/footer_litter.html"-->
</div>
<!--#include virtual="/rules/setBody.html"-->