<!--#include virtual="/include/top_http.html"-->
<title>中秋之夜送惊喜</title>
<link href="/css/util.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jqueryJS/jquery-1.5.min.js"></script>
<script type="text/javascript" src="/js/util.js"></script>
</head>

<body>
<div class="huoDong">
	<script>$(function toplogo(){
		$.ajax({
		    type: "get",
		    url: "/chlw/function/cooperation/activity_coop_top.jsp?"+Math.random(),
		    dataType: "html",
		    success: function(msg){
		    $("#activity").html(msg);
		}
		});
	});</script>
	<div class="huoDong_top" id="activity"></div>
</div>
<div class="huoDong_specialCenter">
	<div class="huoDong_center">
		<table cellpadding="0" cellspacing="0">
			<tr>
				<td><img src="/images/surprise01.jpg" width="950" height="488" /></td>
			</tr>
			<tr>
				<td><img src="/images/surprise02.jpg" width="950" height="294" /></td>
			</tr>
		</table>
	</div>
</div>
<!--#include virtual="/rules/setBody.html"-->
